
.vs/Graphs_Fadeev/v15/.suo
*.ipch
*.filters
*.sln
Graphs_Fadeev/
*.vcxproj
*.opendb
kruskal/.vs/kruskal/v15/.suo
*.db
*.exe
*.ilk
*.log
*.tlog
*.pdb
heap/output.txt
heap/input.txt
*.idb
*.obj
heap/.vs/heap/v15/.suo
*.txt
